.main {
  width: 100%;
  height: 100%;
  top: 64px;
  bottom: 0;
  position: fixed;
  z-index: -20;
  background-color: gainsboro;
}

.addsign {
    width:100%;
    height:100%;
    background-color: transparent;
}

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.wrapper .sidebar{
  background: rgb(5, 68, 104);
  position: fixed;
  top: 64px;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.main {
  margin-left: 225px;
}