body {
  background-image: url('https://cdn.discordapp.com/attachments/1017770699638706216/1030819960739606568/unknown.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}